@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes titleFade {
      0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
        text-shadow: 0 0 0px rgba(99, 102, 241, 0);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        text-shadow: 0 4px 12px rgba(99, 102, 241, 0.45);
      }
    }

    .animate-titleFade {
      animation: titleFade 0.8s ease-out forwards;
    }